body {
    margin: 0;
    width: 100vw;
    background-color: rgb(146, 138, 255);
}

.poppins-font {
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

.mono-font {
    font-family: monospace;
    font-style: normal;
}

.container-fluid {
    width: 100%;
    margin-top: 1%;
}

.container {
    margin: auto;
    width: 95%;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.left-content {
    display: flex;
    width: 50%;
    align-items: center;
}

.right-content {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: flex-end;
}

.circle {
    width: 2vw;
    aspect-ratio: 1 /1;
    background-color: white;
    border-radius: 100%;
    margin: 0;
}

.name {
    width: auto;
    margin-left: 1%;
    font-weight: 600;
}

.degree {
    font-size: x-small;
}

.degree::before {
    content: "\00a0\00a0\00a0";
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: white;
}

.links {
    font-size: medium;
}

.separator-or::before {
    content: "\00a0\00a0|\00a0\00a0";
}